{% extends '_base.twig' %}

{% block title %}Slim 3{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="//fonts.googleapis.com/css?family=Lato:300" rel="stylesheet" type="text/css">
	<link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
	<h1>Slim</h1>
	<div>a microframework for PHP</div>

	{% if name is defined and name is not null %}
		<h2>Hello {{ name }}!</h2>
	{% else %}
		<p>Try <a href="http://www.slimframework.com">SlimFramework</a></p>
	{% endif %}
	
	{% if stuff is defined and stuff is not null %}
		<p>You wrote <em>{{ stuff }}</em>.</p>
	{% endif %}
{% endblock %}
